p, h3{
    font-family: Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
    font-size: 1.1rem;
}
.subItems {
    position:absolute;
}
nav {
    background-color: rgb(1, 162, 1);
}
ul {
    list-style-type: none; 
    padding: 0;
    margin: 0;
    text-align: left;
}
.subNav, .subItems {
    border: none;
    line-height: 1.6rem;
    padding-right: 50px;
    color: black;
    font-size: 1.1rem;
    background-color: transparent;
}
.subItems {
    display: none;
}
body {
    background-color: rgb(225, 247, 234);
    margin: auto;
}
main {
    margin: 25px;
}
.card {
    background-color: white;
    padding: 2px 12px;
    margin: 25px auto;
    max-width: 1150px;
}
#card1 {
    border-left: 5px solid limegreen;
}
#card2 {
    border-left: 5px solid yellow;
}
.subButton button {
    display: none;
}
.subNav:hover .subItems{
    display: block;
}
.subNav:hover, .subNav:hover .subItems{
    background-color: rgb(111, 215, 111);
}
.subButton:hover{
    background-color:rgb(198, 234, 198);
}